# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
uploads
dist
dist-ssr
*.local
.env

# Ignore uploaded media files
Youtube_clone/backend/uploads/

# Ignore video/audio files
*.mp4
*.mov
*.avi
*.mkv
*.wav

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

